h1{
    margin-left: 35px;
}
#container{
    margin-top: 20px;
    width: 750px;
    #companyRow{
        #logo {
            float: left;
        }
        #description{
            float: left; 
            width: 750px;
        }
    } 
}
.job { position: relative; margin-bottom: 0.1em; margin-left: 10em; padding-bottom: 0; border-bottom: 1px solid #ccc; }
.job h4 { position: absolute; top: 0.1em; right: 5% }
.job h3 { font-size: 1.2em; }
.job h2 { font-size: 2em; }
.job p { margin: 0.25em 5% 1em 0; font-size: 1.2em; }
