<div id="services" class="container">
    <div id="project">
        <h1>Projects</h1>
    </div>
    <div class="row">
        <ng-container *ngFor="let project of projects; let index=index">
            <div class="col-sm-4">
                
                <div class="projectContainer">
                <a href="{{project.githubLink}}">
                    <div class="projectBackground">
                        <img class="projectPicture" height=230px width=300px [src]="'../../../assets/images/'+project.figureFileName"/>
                    
                        <div class="textBox">
                            <h2 class="projectTitle"> {{project.name}} </h2>
                        </div>
                    </div>
                </a>
                    <p class="projectDescription"> {{project.description}}</p>
                </div>
                
            </div>
        </ng-container>
    </div>
</div>