
.container{
    background-color: #85dd79;
    width: 100%;
}
h1{
    padding-top: 20px;
    margin-left: 35px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-right: 65px;
    margin-left: 65px;
}
.col-sm-4{
    flex: 0 0 33.333%;
    max-width: 33.3%
}
.projectDescription{
    display: relative; 
    width: 350px;
}
.projectContainer{
    position: relative;
    display: inline-block;
}
.textBox{
    position: absolute;
    height: 30%;
    text-align: center;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: 30px;
}
.projectPicture{
    display: block;
    max-width: 100%;
    height: 220px;
    margin: auto;
    padding: auto;
    border-radius:10%;
    box-shadow:0 0 10px grey;
    transition: .5s ease;
}
.projectTitle{
    color: white;
    font-size: 1.3em;
}

.projectPicture:hover {
    opacity: 0.3;
  }

.fade {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }