<div class="app-intro" id="app-intro" style="intro.component.scss">
    <div class="salutation" id="salutation"> 
        <h1>Hi there, I'm Tyler Liu.</h1> 
        <img id="linkedinpic" src="../../assets/images/linkedinpiccropped.png"/>
    </div>
    <div class="aboutMeContent" id="aboutMeContent">
        <p id="blurb">I'm a 4th year Computer Engineering student at the University of Waterloo, currently looking for 2021 new grad Software Engineer opportunities.
        <br> <br>I am passionate about backend development and software architectures, with a track record of ramping up quickly with new technologies. 
        If you want to connect with me, feel free to reach out via email or LinkedIn.</p>
        <ul id="skills" *ngFor="let skill of listOfSkills">
            <span>{{skill}}</span>
        </ul>
    </div>
</div>